/*
body {
  margin: 0;
  padding: 0;
}

.activeZone {
  width: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
}

.title {
  color: white;
  font-family: "Verdana";
  margin-top: 0.6em;
  margin-left: 0.1em;
  font-size: 2em;
}

.bgtitle {
  background-color: rgb(255, 90, 31);
  height: 5em;
}

.bgtabs {
  background-color: rgb(234, 255, 186);
  height: 2em;
}

.tab {
  color: #404E4D;
  width: 25%;
  height: 2em;
  float: left;
  background-color: #cee39d;
}

.tab:hover {
    background-color: rgb(234, 255, 186);
    transition: 0.3s;
}

.tabText {
  font-family: "Verdana";
  font-size: 1em;
  margin-top: 0.4em;
  margin-left: 0.4em;
}

.content {
  font-family: "Verdana";
}

.halfZone {
  width: 480px;
  float: left;
  padding: 10px;
}

.subContent {
  margin-left: 2em;
}

a {
  color: black;
}

li {
  padding: 0.2em;
}

select {
  width: 90%;
  background-color: #DFDFDF;
  border: 0px;
  font-size: 1.1em;
}

ul {
  padding: 0;
  padding-left: 1em;
}

option {
  padding: 8px;
}

select:checked {
  background-color: red;
  color: red;
}
*/

.my-primary{
  background-color: rgb(255, 90, 31);
}

.my-secondary{
  background-color: rgb(234, 255, 186);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black;
    background-color: rgb(234, 255, 186);
}

.nav-pills .nav-link:not(.active) {
    color: white;
}
